<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>USERS</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="assets/fontsawsome/css/font-awesome.min.css" >
    <link rel='stylesheet' href="assets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <script src="assets/jquery-3.3.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- START TOP MENU -->
    <div class="menu-top">
      <div class="menu-top__toggle">
        <i class="glyphicon menu-side__glyphicon glyphicon-menu-hamburger menu-side__open-icon"></i>
        <i class="glyphicon menu-side__glyphicon glyphicon-remove-circle menu-side__close-icon"></i>
      </div>
      <div>
        <h1 class="menu-top__page-title">USERS</h1>
        <i class="fas fa-power-off"></i>
        <ul class="nav nav-tabs position">
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/avatar.png" alt="avatar">
            Użytkownik
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Ustawienia</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logowanie</a></li>
            </ul>
          </li>
        </ul>
        <button class="btn btn--top">Create project</button>
      </div>
    </div>
    <!-- END TOP MENU -->
    <!-- START SIDE MENU -->
    <menu data-hidden='0' class="menu-side">
      <div class="menu-side__brand">
        <img class="logo--large center" src="assets/images/logo.png" alt="">
        <img class="logo--small" src="assets/images/favicon.png" alt="">
      </div>
      <a href="mywork.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-mywork.png" class="menu-side__icon" alt="My work">
          <p>My work</p>
        </div>
      </a>
      <a href="taskboard.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-taskboard.png" class="menu-side__icon" alt="Task board">
          <p>Task board</p>
        </div>
      </a>
      <a href="workbyperson.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-workbyperson.png" class="menu-side__icon" alt="Work by person">
          <p>Work by person</p>
        </div>
      </a>
      <a href="backlog.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-backlog.png" class="menu-side__icon" alt="Backlog">
          <p>Backlog</p>
        </div>
      </a>
      <a role="button" data-toggle="collapse" href="#projects-option" aria-expanded="false" aria-controls="projects-option">
        <div class="menu-side__link drop-down-link" data-toggle='0'>
          <img src="assets/images/icon-project.png" class="menu-side__icon" alt="Projects">
          <p>Projects</p>
        </div>
      </a>
      <div class="collapse" id="projects-option">
        <a href="createproject.html">
          <div class="menu-side__link link-collapse link-collapse1">
            <img src="assets/images/icon-createproject.png" class="menu-side__icon" alt="Create project">
            <p>Create project</p>
          </div>
        </a>
        <a href="manageprojects.html">
          <div class="menu-side__link link-collapse">
            <img src="assets/images/icon-manageprojects.png" class="menu-side__icon" alt="Manage projects">
            <p>Manage projects</p>
          </div>
        </a>
      </div>
      <a role="button" data-toggle="collapse" href="#users-option" aria-expanded="false" aria-controls="orders_menu" >
        <span data-toggle="tooltip"  title="Tooltip on bottom" data-placement="right">
          <div class="menu-side__link drop-down-link  active-link"  data-toggle='0'>
            <img src="assets/images/icon-user.png"  class="menu-side__icon" alt="orders">
            <p>Users</p>
          </div>
        </span>
      </a>
      <div class="collapse" id="users-option">
        <a href="createuser.html">
          <div class="menu-side__link link-collapse link-collapse1">
            <img src="assets/images/icon-createauser.png" class="menu-side__icon" alt="Create a user">
            <p>Create a user</p>
          </div>
        </a>
        <a href="manageusers.html">
          <div class="menu-side__link link-collapse active-link--collapse">
            <img src="assets/images/icon-manageusers.png" class="menu-side__icon" alt="Manage users">
            <p>Manage users</p>
          </div>
        </a>
      </div>
      </div>
      <a href="addtask.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-addtask.png" class="menu-side__icon menu-side__icon--margin" alt="Add task">
          <p>Add task</p>
        </div>
      </a>
    </menu>
    <!-- END SIDE MENU -->
    <main>
      <!-- MODAL DELETE !-->
      <section class="box box--delete box--modal center--absolute">
        <header>
          <div class="box--modal__title">
            <button class="btn--delete btn--delete--delete-box">
            <i class="far fa-trash-alt"></i>
            </button>
            <h2 class="box__title box--modal__title-text">Are you sure you want to do it?</h2>
          </div>
          <i class="glyphicon glyphicon-remove-circle box__icon-close"></i>
        </header>
        <div class="box--content">
          <p class="box--text">You will not be able to undo your changes.</p>
        </div>
        <button class="btn btn--modal">Delete user</button>
      </section>

      <!--EDIT USER !-->
      <section class="box box--edit box--modal center--absolute">
        <header>
          <div class="box--modal__title">
            <button class="btn--edit btn--edit--edit-box">
            <i class="far fa-edit"></i>
            </button>
            <h2 class="box__title box--modal__title-text">Edit a user</h2>
          </div>
          <i class="glyphicon glyphicon-remove-circle box__icon-close"></i>
        </header>
        <div class="box--content">
          <label for="nameUser" class="form__text">Name and surname:</label>
          <input id="nameUser"" type="text" name="nameUser" placeholder="Klaudia Polan" class="form__elem">
          <label for="emailUser" class="form__text">Email:</label>
          <input id="emailUser"" type="text" name="emailUser" placeholder="k.polan95@gmail.com" class="form__elem">
          <label for="passwordUser" class="form__text">Password:</label>
          <input id="passwordUser" type="password" name="passwordUser" placeholder="Please write here..." class="form__elem">
          <label for="repeatPassword" class="form__text">Repeat password:</label>
          <input id="repeatPassword" type="password" name="repeatPassword" placeholder="Please write here..." class="form__elem">
          
          <h3 class="form__text"> Add photo: </h3>
          <label for="photoUser" class="form__text upload-photo__label">Upload</label>
          <input id="photoUser" type="file" name="photoUser" placeholder="Upload" class="form__elem upload-photo">
          

          <label for="roleUser" class="form__text">Role:</label>
          <select id="roleUser" type="text" name="roleUser" class="form__elem">
            <option value="0">User</option>
            <option value="1">Project Manager</option>
            <option value="2">Boss</option>
          </select>


        </div>
        <button class="btn btn--modal">Save</button>
      </section>
       <!-- CHANGE PASSWORD -->

      <section class="box box--password box--modal center--absolute">
        <header>
          <div class="box--modal__title">
            <button class="btn--password btn--edit--edit-box">
            <i class="fas fa-unlock-alt"></i>
            </button>
            <h2 class="box__title box--modal__title-text">Change a task</h2>
          </div>
          <i class="glyphicon glyphicon-remove-circle box__icon-close"></i>
        </header>
        <div class="box--content">
          <label for="oldPassword" class="form__text">Old password:</label>
          <input id="oldPassword" type="password" name="oldPassword" placeholder="Please write here..." class="form__elem">
          <label for="newPassword" class="form__text">New password:</label>
          <input id="newPassword" type="password" name="newPassword" placeholder="Please write here..." class="form__elem">
          <label for="repeatPassword" class="form__text">Repeat password:</label>
          <input id="repeatPassword" type="password" name="repeatPassword" placeholder="Please write here..." class="form__elem">
        </div>
        <button class="btn btn--modal">Update</button>
      </section>
      <!-- LIST OF MY TASKS !-->
      <section class="box box--static center">
        <header>
          <h2 class="box__title">Manage Users Account</h2>
        </header>
        <div class="table-info">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">NAME AND SURNAME</th>
                  <th scope="col">EMAIL</th>
                  <th scope="col">action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Klaudia Polan</td>
                  <td>k.polan95@gmail.com</td>
                  <td>
                    <button class="btn--edit">
                    <i class="far fa-edit"></i>
                    </button>
                    <button class="btn--password">
                    <i class="fas fa-unlock-alt"></i>
                    </button>
                    <button class="btn--delete">
                    <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Klaudia Polan</td>
                  <td>k.polan95@gmail.com</td>
                  
                  <td>
                    <button class="btn--edit">
                    <i class="far fa-edit"></i>
                    </button>
                    <button class="btn--password">
                    <i class="fas fa-unlock-alt"></i>
                    </button>
                    <button class="btn--delete">
                    <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Klaudia Polan</td>
                  <td>k.polan95@gmail.com</td>
                  
                  <td>
                    <button class="btn--edit">
                    <i class="far fa-edit"></i>
                    </button>
                    <button class="btn--password">
                    <i class="fas fa-unlock-alt"></i>
                    </button>
                    <button class="btn--delete">
                    <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
    <script src="assets/script.js" type="text/javascript"></script>
  </body>
</html>