<app-tasks-view
  [tasks]="tasks"
  [header]="header"
  [gettingTasks]="gettingTasks$ | async"
  [gettingTasksSuccess]="gettingTasksSuccess$ | async"
  [gettingTasksFail]="gettingTasksFail$ | async"
  [gettingTasksFailMsg]="gettingTasksFailMsg$ | async"
  [deletingTask]="deletingTask$ | async"
  [deletingTaskSuccess]="deletingTaskSuccess$ | async"
  [deletingTaskFail]="deletingTaskFail$ | async"

  (deleteTask)="deleteTask($event)"
  (clearPendingState)="clearPendingState()"
  (editTask)="editTask($event)"


></app-tasks-view>

