<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PROJECT</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="assets/fontsawsome/css/font-awesome.min.css" >
    <link rel='stylesheet' href="assets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <script src="assets/jquery-3.3.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- START TOP MENU -->
    <div class="menu-top">
      <div class="menu-top__toggle">
        <i class="glyphicon menu-side__glyphicon glyphicon-menu-hamburger menu-side__open-icon"></i>
        <i class="glyphicon menu-side__glyphicon glyphicon-remove-circle menu-side__close-icon"></i>
      </div>
      <div>
        <h1 class="menu-top__page-title">PROJECT</h1>
        <i class="fas fa-power-off"></i>
        <ul class="nav nav-tabs position">
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/avatar.png" alt="avatar">
            Użytkownik
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Ustawienia</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logowanie</a></li>
            </ul>
          </li>
        </ul>
        <button class="btn btn--top">Create project</button>
      </div>
    </div>
    <!-- END TOP MENU -->
    <!-- START SIDE MENU -->
    <menu data-hidden='0' class="menu-side">
      <div class="menu-side__brand">
        <img class="logo--large center" src="assets/images/logo.png" alt="">
        <img class="logo--small" src="assets/images/favicon.png" alt="">
      </div>
      <a href="mywork.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-mywork.png" class="menu-side__icon" alt="My work">
          <p>My work</p>
        </div>
      </a>
      <a href="taskboard.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-taskboard.png" class="menu-side__icon" alt="Task board">
          <p>Task board</p>
        </div>
      </a>
      <a href="workbyperson.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-workbyperson.png" class="menu-side__icon" alt="Work by person">
          <p>Work by person</p>
        </div>
      </a>
      <a href="backlog.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-backlog.png" class="menu-side__icon" alt="Backlog">
          <p>Backlog</p>
        </div>
      </a>
      <a role="button" data-toggle="collapse" href="#projects-option" aria-expanded="false" aria-controls="projects-option">
        <div class="menu-side__link drop-down-link active-link" data-toggle='0'>
          <img src="assets/images/icon-project.png" class="menu-side__icon" alt="Projects">
          <p>Projects</p>
        </div>
      </a>
      <div class="collapse" id="projects-option">
        <a href="createproject.html">
          <div class="menu-side__link link-collapse active-link--collapse link-collapse1">
            <img src="assets/images/icon-createproject.png" class="menu-side__icon" alt="Create project">
            <p>Create project</p>
          </div>
        </a>
        <a href="manageprojects.html">
          <div class="menu-side__link link-collapse">
            <img src="assets/images/icon-manageprojects.png" class="menu-side__icon" alt="Manage projects">
            <p>Manage projects</p>
          </div>
        </a>
      </div>
      <a role="button" data-toggle="collapse" href="#users-option" aria-expanded="false" aria-controls="orders_menu" >
        <span data-toggle="tooltip"  title="Tooltip on bottom" data-placement="right">
          <div class="menu-side__link drop-down-link"  data-toggle='0'>
            <img src="assets/images/icon-user.png"  class="menu-side__icon" alt="orders">
            <p>Users</p>
          </div>
        </span>
      </a>
      <div class="collapse" id="users-option">
        <a href="createuser.html">
          <div class="menu-side__link link-collapse link-collapse1">
            <img src="assets/images/icon-createauser.png" class="menu-side__icon" alt="Create a user">
            <p>Create a user</p>
          </div>
        </a>
        <a href="manageusers.html">
          <div class="menu-side__link link-collapse">
            <img src="assets/images/icon-manageusers.png" class="menu-side__icon" alt="Manage users">
            <p>Manage users</p>
          </div>
        </a>
      </div>
      </div>
      <a href="addtask.html">
        <div class="menu-side__link">
          <img src="assets/images/icon-addtask.png" class="menu-side__icon menu-side__icon--margin" alt="Add task">
          <p>Add task</p>
        </div>
      </a>
    </menu>
    <!-- END SIDE MENU -->
   <main>

      <!-- CREATE A NEW USER !-->
      <section class="box box--static box--static--create center--static">
        <header>
          <h2 class="box__title">Create a new project</h2>
        </header>
        <div class="box--static__forms--nophoto">
          <label for="projectTitle" class="form__text">Title:</label>
          <input id="projectTitle" type="text" name="projectTitle" placeholder="Please write here..." class="form__elem">
          <label for="projectDesc" class="form__text">Description:</label>
          <textarea  id="projectDesc" type="text" name="projectDesc" placeholder="Please write here..." class="form__elem"></textarea>
          <label for="projectDate" class="form__text">Date:</label>
          <input id="projectDate" type="date" name="projectTitle" class="form__elem">
          <input id="projectDate" type="date" name="projectTitle" class="form__elem">

          <label for="projectMembers" class="form__text">Members:</label>
          <div class="project__members">
            <select id="projectMembers" type="text" name="projectMembers" class="form__elem">
              <option value="0">Klaudia Polan</option>
              <option value="1">Adrian Szlachta</option>
              <option value="2">Anna Kowalska</option>
            </select>


          </div>





        </div>
        <button class="btn btn--modal btn--static">Add project</button>


      </section>
    </main>
    <script src="assets/script.js" type="text/javascript"></script>
  </body>
</html>
