ngx-select-dropdown {
  margin-left: 49%;
  border: 1px solid rgb(231, 239, 255);;
  padding-left: 0;
  padding-right: 0;
  .ngx-dropdown-container {
    padding: 10px 43px 10px 9px;
  }
}
.box--static__forms--nophoto {
  border: none !important;
}
