<section>
  <header>
    <div class="box--modal__title">
      <button class="btn--password btn--edit--edit-box">
        <i class="fas fa-unlock-alt"></i>
      </button>
      <h2 class="box__title box--modal__title-text">Upadate password</h2>
    </div>
    <i class="glyphicon glyphicon-remove-circle box__icon-close" (click)="closeModal.emit()"></i>
  </header>
  <div class="box--content" [formGroup]="form">
    <label for="oldPassword" class="form__text">Old password:</label>
    <input
      #oldPassword
      id="oldPassword"
      type="password"
      name="oldPassword"
      placeholder="Please write here..."
      class="form__elem"
      formControlName="oldPassword"
      (blur)="oldPasswordBlur(newPassword.value)"
    >


    <label for="newPassword" class="form__text">New password:</label>
    <input
      #newPassword
      id="newPassword"
      type="password"
      name="newPassword"
      placeholder="Please write here..."
      class="form__elem"
      formControlName="newPassword"
      (blur)="newPasswordBlur(newPassword.value)"
    >
    <label for="repeatPassword" class="form__text">Repeat password:</label>
    <input
      id="repeatPassword"
      type="password"
      name="repeatPassword"
      placeholder="Please write here..."
      class="form__elem"
      formControlName="newPassword2"
    >
    <p @jump *ngIf="passwordsNotEquals" class="text-center text-danger">Password not equals</p>
    <p *ngIf="!passwordsNotEquals" class="invisible">Error placeholder</p>
    <p @jump *ngIf="updatingPasswordSuccess" class="text-muted text-center">Update success!</p>
    <p @jump *ngIf="updatingPasswordFail" class="text-muted text-center">Can not update password</p>
    <div class="feedback" class="text-muted" >
      <small>
      <span>Minimal length 8</span>
      <br>
      <span>All field are required</span>
      </small>
    </div>
  </div>
  <button class="btn btn--modal" (click)="_updatePassword($event)">
    <span [appSpinning]="updatingPassword">Update</span>
  </button>
</section>
